<%= content_for :style do%>
  <%= render partial:"prod/partials/index/navStyle" %>
<%end%>

<%= content_for :page_wrapper do %>


  <div id="page_wrapper" style="background-color:black;">

    <header class="banner" >
        <nav style="position:relative;text-align:center;" class="container" >
            <ul class="lavaLamp" style="clear:both;">
                <li><%= link_to :controller=>'prod', :action=>'events' do%>
                  Events
                  <% end %>
                </li>
                <li>
                  <%= link_to :controller=>'prod', :action=>'workshops' do%>
                  Workshops
                  <% end %>
                </li>
                <li>
                  <%= link_to :controller=>'prod', :action=>'workshops' do%>
                  Dum
                  <% end %>
                </li>
                <li>
                  <%= link_to :controller=>'prod', :action=>'workshops' do%>
                  Diga
                  <% end %>
                </li>
                <li>
                  <%= link_to :controller=>'prod', :action=>'workshops' do%>
                  Dah
                  <% end %>
                </li>

            </ul>
        </nav>
    </header>
    <div class="spinner" id="spin" style="display:block; width:100px;height:100px;opacity:5;background:transparent;" >
      <div class="cube1" ></div>
      <div class="cube2" ></div>
    </div>

    <canvas id="myCanvas" style="display:none;background-color:black;" ></canvas>


    <div id="s2" data-sr="enter top and scale up 20% over 2s">
       <p  style="font-size:40px;">Hello</p>
    </div>
    <div id="s3" data-sr="enter bottom and scale up 20% over 2s">
      <p  style="font-size:40px;">Hello</p>
    </div>
    <div id="s4" data-sr="enter bottom and scale up 20% over 2s">
      <p>Hello</p>
    </div>
    <div id="s5" data-sr >
      <p>Hello</p>
    </div>

  </div>

<%end%>



<%= content_for :script do %>
  <%= render partial: "prod/partials/index/indexScript" %>
<%end%>
<%= content_for :InitScript do %>
  <%= render partial: "prod/partials/index/indexInitScript" %>
<%end%>
